PORT=3000
SESSION_SECRET=Secret-codes
GOOGLE_CLIENT_ID=109834341732-9a83tvh83qunvat331n625smso3t1co5.apps.googleusercontent.comGOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_REDIRECT_URI=http://localhost:3000/oauth2callback
OPENAI_API_KEY=your_openai_api_key
